header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-list {
  margin: 10px 12px;
}

.div-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.ul-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 10px 25px;
  border-radius: 25px;
  justify-content: center;
}

.ul-list li {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 25px;
  transition: 0.3s;
  white-space: nowrap;
}

.ul-list li a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
}

.ul-list li.active {
  background-color: black;
  padding: 10px 15px;
}

.ul-list li.active a,
.ul-list li.active i {
  color: white;
}

@media (max-width: 600px) {
  .ul-list {
    gap: 1rem;
    padding: 10px 14px;
  }

  .header-list {
    margin: 8px 8px;
  }
}
